1. Fibonacci Using Recursion

In [14]:

def fibonacci_series(n):
    def fibonacci(n):
        if n <= 1:
            return n
        return fibonacci(n - 1) + fibonacci(n - 2)
    return [fibonacci(i) for i in range(n)]


print(fibonacci_series(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

2. Remove an Item from a Set

In [15]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

3. Remove Multiple Items from a Set

In [16]:
my_set = {1, 2, 3, 4, 5}
items_to_remove = {1, 4}
my_set -= items_to_remove
print(my_set)

{2, 3, 5}

4. Find the Index of an Item in a Tuple

In [18]:


tuple = ('apple', 'banana', 'orange', 'grape', 'banana')
print(tuple.index('orange'))

2

5. Convert a Sentence into a List of Words

In [20]:
sentence = input("Enter a sentence: ")
words = sentence.split()
print(words)

Enter a sentence: ccc vvv nnn
['ccc', 'vvv', 'nnn']

6. Check if a String is a Palindrome

In [22]:
string = input("Enter a string: ")
if string == string[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a string: nn\
Not a Palindrome

7. Find the Factorial of a Number

In [23]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120


8. Create a List of Squares of Numbers from 1 to 10

In [26]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

9. Sum of Even Numbers in a List

In [24]:
def sum_even_numbers(lst):
    return sum(num for num in lst if num % 2 == 0)

numbers = [1, 2, 3, 4, 5, 6]
print(sum_even_numbers(numbers))

12



10. Reverse a List

In [25]:
def reverse_list(lst):
    return lst[::-1]


lst = [1, 2, 3]
print(reverse_list(lst))

[3, 2, 1]

11. Calculate the Median

In [27]:


def calculate_median(lst):
    lst.sort()
    mid = len(lst) // 2
    if len(lst) % 2 == 0:
        return (lst[mid - 1] + lst[mid]) / 2
    return lst[mid]


numbers = [5, 2, 7, 3, 1]
print(calculate_median(numbers))

3

12. Calculate the Mode

In [29]:

from collections import Counter

def calculate_mode(lst):
    counts = Counter(lst)
    max_count = max(counts.values())
    return [key for key, value in counts.items() if value == max_count]


lst = [5, 2, 7, 3, 2, 1, 5]
print(calculate_mode(lst))

[5, 2]

13. Convert Marks to Grade

In [28]:

def convert_to_grade(marks):
    if 85 <= marks <= 100:
        return "A"
    elif 75 <= marks < 85:
        return "B"
    elif 65 <= marks < 75:
        return "C"
    elif 50 <= marks < 65:
        return "D"
    else:
        return "F"


marks = int(input("Enter marks: "))
print(convert_to_grade(marks))

Enter marks: 78
B